.checkstyle
.classpath
.metadata
.project
.settings
.sonar
.DS_Store
rebel.xml
styles.css
*.log
logs
target
widgetsets
**/bin
**/*.iml
.idea
**/jboss-runtime-configuration
**/META-INF/MANIFEST.MF
**/build/
